.login-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: white;
}

.guest-container {
  right: 13%;
  position: sticky;
  top: 7%;
  display: flex;
  flex-direction: row;
}

.button-container {
  padding-right: 10%;
  margin-right: 30px;
  margin-top: 8px;
}

.button {
  border: white;
  border-radius: 2px;
  height: 30px;
  width: 70px;
  background-color: white;
  color: black;
}

.start-new-game-container {
  text-align: center;
}
