.App {
  display: "flex";
  overflow-x: hidden;
}

.page-header {
  padding: 10px 10px;
  display: inline-flex;
  width: 100%;
  height: 56px;
  background-color: black;
  overflow: "hidden";
}

.page-header-image {
  width: 155px;
  height: 58px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}
.page-header-balance-container {
  right: 0;
  position: absolute;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-header-balance {
  color: white;
  padding-right: 10px;
  top:7%
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: black;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}
